@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

.contact-heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.contact-catchy{
     font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}
.oswald-family{
    font-family: 'Oswald',sans-serif;
}
.nunito-family{
    font-family: "Nunito";
}

@import "tailwindcss";