@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.title-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.intro-text{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 1px
}

@import "tailwindcss";