@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

.skill-heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.skill-catchy{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}
.skill-bt{
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-bt:hover{
    color:#55c6eb;
    zoom: normal(1.1);
    scale:1.2;
}
.skill-img{
    width: 130px;
    height: 130px;
}
.oswald-family{
    font-family: 'Oswald',sans-serif;
}

@import "tailwindcss"
